[2017-12-21 14:46] naveentherocker opened #1 "Template File still exists in 404 and 500 Pages"
Template File still exists in 404 and 500 Pages
Screenshots
![image](https://user-images.githubusercontent.com/16055010/34260343-9b6c8454-e68b-11e7-8905-7edd034b17f4.png)
![image](https://user-images.githubusercontent.com/16055010/34260346-a0370086-e68b-11e7-894e-8652b91ee090.png)

[2017-12-21 18:54] #1 closed

[2018-08-29 02:44] mielamvn opened #4 "Request to update speaker registration link"
Please help to add the link for speaker registration.

The link is here: https://eventyay.com/e/3689bc98/cfs/

Thank you

[2018-08-29 03:01] mielamvn opened #5 "Request to update link for purchasing tickets"
The ticket tab leads to the link of FOSSASIA Summit 2018.

- [ ] Please replace it with this link: [](https://eventyay.com/e/3689bc98/)

Thank you

[2018-08-30 19:19] MadhavBahlMD commented on #5
Hey @mielamvn I can do this, please provide the link.

[2018-08-30 19:25] MadhavBahlMD commented on #4
Hey @mielamvn I can do it, I couldn't find a link for speaker registration at https://2019.fossasia.org/

Should I create a button/link and link it to https://eventyay.com/e/3689bc98/cfs/ ?

[2018-08-31 02:08] mielamvn commented on #5
Hi, here is the link: https://eventyay.com/e/3689bc98/

Thanks Madhav

[2018-08-31 02:11] mielamvn commented on #4
Hi Madhav, you can do something similar to this website: https://2017.fossasia.org/

Thanks

[2018-08-31 10:58] MadhavBahlMD commented on #5
Replaced the redirect link in tickets/index.html and replaced the links on home page with https://eventyay.com/e/3689bc98/ :+1:

PR #6 solves this.

[2018-08-31 11:04] MadhavBahlMD commented on #4
Hey @mielamvn, instead of speaker registration button, there's a get schedule button in 2019.fossasia.org
Should I replace it with speaker registration or add another button for speaker registration?

2017.fossasia.org -
![image](https://user-images.githubusercontent.com/26179770/44909102-a94ef580-ad3b-11e8-9240-4cb1c2f162d3.png)

2019.fossasia.org -
![image](https://user-images.githubusercontent.

[2018-08-31 13:12] mjbright opened #7 "Ticket information page could also indicate "full" ticket prices"
On the ticket information page there are several "Early Bird" tickets along with their prices.

It would be nice to see the "full" ticket prices which will apply once the "SALES ENDS" date is reached.

[2018-08-31 13:56] codedsun opened #8 "The footer still contains 2018"
The footer needs to be updated

![untitled](https://user-images.githubusercontent.com/20026440/44916584-c394cd80-ad53-11e8-8c2e-5e3e541c567b.jpeg)

I am taking this issue up!

[2018-08-31 14:10] #5 closed

[2018-08-31 14:13] hpdang commented on #4
yes, please

[2018-08-31 14:39] #8 closed

[2018-08-31 14:53] #4 closed

[2018-08-31 14:55] hpdang commented on #7
@mjbright  thanks for your feedback, how does it look? https://eventyay.com/e/3689bc98/
![screenshot from 2018-08-31 16-54-59](https://user-images.githubusercontent.com/1658742/44919812-a1dd1b80-ad3e-11e8-9456-819b6de1b3a5.png)

[2018-08-31 15:02] mjbright commented on #7
Looks great thanks.

On Fri, 31 Aug 2018 at 16:55, Hong Phuc Dang <notifications@github.com>
wrote:

[2018-09-18 06:22] NeeleshVashist opened #16 "Hamburger Menu is not visible in Mobile View"

[2018-09-23 11:41] abhieshekumar opened #17 "--> displayed on web page."
While visiting the webpage '-->' is displayed in the navigation bar.

![issue](https://user-images.githubusercontent.com/24494390/45927604-5ee42180-bf53-11e8-8e6b-ffc19c28e399.png)

I will like to resolve this issue.

[2018-09-23 11:48] abhieshekumar commented on #17
I have fixed the issue. Kindly take a look at the pull request https://github.com/fossasia/2019.fossasia.org/pull/18 .

![resolved](https://user-images.githubusercontent.com/24494390/45927692-77087080-bf54-11e8-821c-08f04a1f2587.png)

[2018-11-01 20:23] SarthakSri98 opened #25 "In the mobile view and the navigation bar, I think the margin has not been setup in an elegant way, I would like to solve this."
![screenshot from 2018-11-02 07-21-53](https://user-images.githubusercontent.com/28146914/47877527-1f5a0080-de42-11e8-8510-30980ac3b56f.png)

[2018-11-13 13:06] pythongiant opened #27 "Add a contribute section"
add a contribute to fossasia section

[2018-11-13 13:23] pythongiant opened #28 "Add meta tags for SEO"
add apple,facebooka and twitter meta tags for better seo

[2018-11-13 14:00] #28 closed

[2018-11-14 04:41] Ryan10145 opened #30 "Map Is Static"
The current map contains controls for zooming and is an OpenStreetMap, but unlike other Fossasia websites, it is not responding at all. This should be fixed.

I will work on this.

[2018-11-15 11:53] saarthakchats opened #32 "Add a Back to Top button"
A responsive back-to-top button should be added, I'm working on this

[2018-11-16 10:44] #30 closed

[2018-11-17 07:27] STEdirisuriya opened #34 "Couldn't access to the navbar in small screens."
@mariobehling Can I work on this? Could you please assign me?

Couldn't see the navigation bar in smaller screens.
![image](https://user-images.githubusercontent.com/33794760/48658466-2d299b80-ea68-11e8-84c8-1076f56d523d.png)

I am going to fix it.

[2018-11-19 08:52] HardikSo opened #36 "There is --> on the nav bar in the website. I can fix this."

[2018-11-19 08:52] HardikSo commented on #36
Can you assign this?

[2018-11-20 06:32] sahilsaha7773 opened #38 "The site supports only one language"
Please add a translation feature in the site

I am working on this issue.

[2018-11-20 14:06] Aishh2k commented on #32
Please check PR #26

[2018-11-20 15:19] pythongiant opened #40 "Enhance navbar"
Enhance the navbar and add links. I am working on this issue

[2018-11-21 07:47] sahilsaha7773 opened #43 "Enchance social media section"
The Google plus social media link for FOSSASIA is absent from the nav bar section.

I am working on this issue.

[2018-11-22 07:46] sahilsaha7773 opened #44 "There are no social media widgets"
There are no social media widgets.

I am working on this issue.

[2018-11-22 17:01] mariobehling commented on #40
Dont see the necessity to take care here. We are still getting things ready. Please help with actual coding projects. Thank you.

[2018-11-22 17:01] #40 closed

[2018-11-22 17:06] #7 closed

[2018-11-22 17:06] #17 closed

[2018-11-22 17:06] #25 closed

[2018-11-22 17:06] #32 closed

[2018-11-22 17:06] #34 closed

[2018-11-22 17:06] #36 closed

[2018-11-22 17:06] #38 closed

[2018-11-22 17:06] #43 closed

[2018-11-22 17:06] #44 closed

[2018-11-22 17:06] #27 closed

[2018-11-22 17:33] KSNINJA commented on #16
I am working on this .

[2018-11-23 06:34] STEdirisuriya commented on #16
@nvkepler I am already working on this issue, https://github.com/fossasia/2019.fossasia.org/issues/34
Here's the PR, waiting for reviewing. https://github.com/fossasia/2019.fossasia.org/pull/35

[2018-11-25 13:30] mariobehling opened #46 "Change opacity on header to 0.9"
The opacity on the header is too low. Please change it to 0.9.

[2018-11-25 16:17] siddharthgusain commented on #46
I'm working on it .thanks

[2018-11-25 16:39] mariobehling opened #47 "Button does not show up correctly on Exhibition page"
While the same code shows up correctly on the start page, it does not display as a button on the exhibition page.

![screenshot from 2018-11-25 17-39-08](https://user-images.githubusercontent.com/1583873/48981680-0c50ee00-f0d9-11e8-86fe-82b08c2d766c.png)

[2018-11-25 16:52] mariobehling opened #48 "Top menu of start page has a space on the right. (Compare to exhibition page)"
The top menu is slight moved to the left and has a space on the right. Expected: no space. It should be same as the exhibition page at https://2019.fossasia.org/exhibition/index.html

[2018-11-25 18:11] mariobehling opened #49 "Create a new CSS style for sub heading on start page"
The start page has the words "OpenTechSummit Singapore" on the top slider. Please create a new CSS for the subheading and increase the size to 35px. Don't change the existing style which is also used on other parts of the site.

![screenshot from 2018-11-25 19-09-19](https://user-images.githubusercontent.com/1583873/48982662-d0705580-f0e5-11e8-8d33-c60bc63450e5.png)

[2018-11-25 21:12] mariobehling opened #50 "Header text on exhibitions page blue on activation: Expected White"
The header text on the exhibitions page is blue on activation. It should be white.
https://2019.fossasia.org/exhibition/index.html
![screenshot from 2018-11-25 22-10-37](https://user-images.githubusercontent.com/1583873/48984675-1554b600-f0ff-11e8-90ea-aa71f1964344.png)

[2018-11-29 04:39] Ryan10145 opened #51 "Lines Overlap with Text in Schedule"
When the user hovers over some items in the schedule, the text overlaps with the pin and line in the box. There should be extra space between the line and the text to prevent this from happening.

![image](https://user-images.githubusercontent.com/8119928/49199603-bf824700-f366-11e8-8218-651fe2c04e35.png)

[2018-11-30 11:32] kuaLeYi opened #54 "404 and 505 failure"
# Description
Being relative references, some important links in `404.html` and `505.html` will point to nonexistent files on the current path and not document root, resulting in the following.

## Screenshot
![image](https://user-images.githubusercontent.com/23028142/49286579-89170a00-f4d5-11e8-9e2f-781bc1ba4f44.png)
404 failing on a lower level of the 2019 FOSSASIA site.

This should be fixed fo

[2018-11-30 22:24] AdityaSrivast opened #56 "navbar is not responsive"
<h4>Current Behaviour</h4>
Currently the navbar is not responsive.
<h4>Expected Behaviour</h4>
It should be responsive.
<h4>Would you like to work on this issue?</h4>
Yes.

[2018-11-30 22:34] AdityaSrivast commented on #50
@mariobehling Can I work on this issue?

[2018-12-05 18:42] KSNINJA opened #57 "The Red blocks below Team section are not responsive"
####The Red blocks below Team section are not responsive to screen size - 768px - 990px - sm
![image](https://user-images.githubusercontent.com/26023139/49536034-9c6a1100-f8eb-11e8-91ad-ea0f5d8c1df5.png)
This is same for top color-block , But it has a lot of text inside it , so , it does not experience this bug .
#### Would you like to work on this issue ?
 Yes

[2018-12-06 08:19] Cnd96 commented on #50
@mariobehling  Can I work on this issue?

[2018-12-06 08:20] Cnd96 commented on #48
@mariobehling Can I work on this issue?

[2018-12-07 15:19] tantrojan commented on #46
@mariobehling It's already 0.9. You may close the issue.

[2018-12-07 16:34] #46 closed

[2018-12-10 05:39] saarthakchats opened #62 "There is no Back to Top button anywhere on the site"
One has to scroll all the way to the top to get back
Must add a responsive Back To Top Button

I'm working on it

[2018-12-10 05:43] saarthakchats opened #63 "No PR and Issue Templates present"
Must add PR and Issue templates to help all contributors and speed up the development process

[2018-12-10 06:31] plxity opened #65 "Spacing Required (Bug)"
## Description
In mobile view there is no spacing between button and images.
## Actual behaviour
![2018-12-10 4](https://user-images.githubusercontent.com/28510494/49714416-bea8b980-fc72-11e8-85fb-7c912bb2482b.png)
![2018-12-10 6](https://user-images.githubusercontent.com/28510494/49714423-c10b1380-fc72-11e8-80ff-1160538efa9c.png)

## Expected behaviour

![2018-12-10 7](https://user-images.githubu

[2018-12-10 14:06] #63 closed

[2018-12-12 16:15] Dharmesh-Poddar commented on #48
@mariobehling  please check my pr #67 related to this issue

[2018-12-12 19:02] #65 closed

[2018-12-15 04:45] #57 closed

[2018-12-15 06:30] KSNINJA opened #68 "Heading of sponsorship div is not responsive to small screen sizes"
**Actual Behaviour**
Heading of sponsorship div is not responsive to small screen sizes . It overflows the viewport .

**Expected Behaviour**
It should change its font-size .

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/26023139/50039928-f0e65c80-0060-11e9-8271-c3169ec9945a.png)

**Would you like to work on the issue?**
Yes

[2018-12-15 06:51] hpdang opened #70 "Setup Mini-DebConf"
- [ ] Create an eventyay website for Mini-DebConf
- [ ] Update wiki https://wiki.debian.org/DebianEvents/Asia/2019/MiniDebConfSingapore
- [ ] Create a logo similar to https://wiki.debian.org/DebianEvents/fr/2019/Marseille
- [ ] Announce it on Debian Mailing List
- [ ] Announce on social media

[2018-12-15 06:52] hpdang opened #71 "Send out FOSSASIA Newsletter"

[2018-12-15 06:55] #71 closed

[2018-12-15 06:56] #56 closed

[2018-12-16 15:48] mohitacecode commented on #62
but this is difficult to find for an user we can make a icon which will be visible and provide a better user experience

[2018-12-16 15:52] mohitacecode opened #72 "In the Fossasia website(https://fossasia.org/) the back to top button is given but it is not in the form of icon it is in the left bottom which is not easily visible by the user due to they are not using so we can make this back to top option in the form of an icon"
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2018-12-16 16:06] mohitacecode opened #73 "back to top with icon"
In the Fossasia website(https://fossasia.org/) the back to top button is given but it is not in the form of icon it is in the left bottom which is not easily visible by the user due to they are not using so we can make this back to top option in the form of an icon

[2018-12-16 17:33] Dharmesh-Poddar commented on #70
@hpdang  I would like to work on it..

[2018-12-16 18:12] amrs-tech commented on #73
I'll try to resolve this issue

[2018-12-17 01:17] amrs-tech commented on #62
The issue can be fixed by the PR #74

[2018-12-17 05:30] #50 closed

[2018-12-17 05:34] #72 closed

[2018-12-17 05:38] mohitacecode commented on #51
i will try to resolve it

[2018-12-17 05:46] mohitacecode commented on #51
pls provide the link

[2018-12-17 09:48] KSNINJA opened #75 "Undesirable spaces in 'Topics and Tracks' section in screen size for sm and md"
**Actual Behaviour**
There are some undesirable spaces in the TOPICS AND TRACKS section in the screen size 768px to 1200px .

**Expected Behaviour**
There should be no spaces

**Screenshots of the issue**

<img width="773" alt="screenshot 2018-12-17 at 3 08 16 pm" src="https://user-images.githubusercontent.com/26023139/50079195-f5e90e80-020e-11e9-9932-c60073b7d7f2.png">

**Would you like to work o

[2018-12-17 13:00] AvaniVerma commented on #51
@Ryan10145 Hey, I'm working on this !!

[2018-12-17 13:10] AvaniVerma commented on #49
@mariobehling , may I work on this one if @yash-kedia if not working on it ?

[2018-12-21 15:56] #75 closed

[2019-01-08 09:44] #49 closed

[2019-01-08 09:45] #51 closed

[2019-01-12 01:32] divyanshu132 commented on #48
@mariobehling have a look at the pr #80

[2019-02-16 05:20] ebube4im commented on #73
Hi Guys. I am new here and would love to contribute here. Has this issue been closed? There is no back to top yet on the site. Can i take that up?

[2019-02-20 04:51] mariobehling opened #82 "Add schedule roster as html instead of image"
The schedule roster is an image currently.

1. Please use the RoomVisual.html file (https://github.com/fossasia/2019.fossasia.org/blob/master/RoomVisual.html) and change the image into html. The requirement is to have the table with cells in the according colors in HTML. No images are needed.
2. Link the tracks to the specific schedule.

![screenshot from 2019-02-20 12-47-53](https://user-images.g

[2019-02-20 04:59] #70 closed

[2019-02-20 06:05] HarshCic commented on #82
Hey @mariobehling, I want to work on this can you please guide me.

[2019-02-20 08:31] mohitm15 commented on #82
@mariobehling l am working on it

[2019-02-20 14:20] felixonmars opened #84 "Some types in index"
Created this issue because PR seems requires one.

[2019-02-20 16:00] #84 closed

[2019-02-20 16:01] mariobehling opened #85 "Add speakers to featured list"
Please add the following speakers to the featured list:
* Remi Denis-Courmont (Lead SW Architect
* Tristan Van Berkom (Lead Software Engine
* Michael Cheng (Licensing & Open Source L
* Matt Ware (Head of Operations First)
* Masafumi Ohta (Lead Contributor Raspberr
* Martin Michelmayr
* Kushal Das Engineer Freedom Of The Press Foundation
* Jonathan Le Lous (Field CTO Capgemini)
* Jason Zaman (Devel

[2019-02-21 10:38] mohitm15 commented on #82
@mariobehling  Should I Place a link of the image over the html page??

[2019-02-21 11:34] mariobehling commented on #82
The requirement is to have the table with cells in the according colors in HTML. No images are needed.

[2019-02-25 13:57] fliptrail commented on #82
@mohitm15 still working or can I take over?

[2019-02-25 14:27] mohitm15 commented on #82
I am still working on it. 😑

On Mon 25 Feb, 2019, 7:26 PM Amish Mittal, <notifications@github.com> wrote:

[2019-02-25 16:51] fliptrail commented on #82
Just asking cause 5 days have already passed...

[2019-02-25 17:12] mohitm15 commented on #82
Last 4 days, I was busy in college fest...now l got time to work...😏
You should opt any other issue ☺️

On Mon 25 Feb, 2019, 10:21 PM Amish Mittal, <notifications@github.com>
wrote:

[2019-02-25 23:35] kushthedude commented on #85
@mariobehling Can you please clarify this issue as the speakers you named are already present on the list?
<img width="1139" alt="screenshot 2019-02-26 at 5 03 06 am" src="https://user-images.githubusercontent.com/44091822/53376361-07276780-3984-11e9-8fb7-aedb6334767c.png">

[2019-02-26 01:06] mariobehling commented on #82
Anyone who can solve this issue first, please go ahead.

[2019-02-26 01:08] mariobehling commented on #82
The file "Roomvisual.html" was updated to the latest version as well. Please refer to the latest version.

[2019-02-26 03:47] mohitm15 commented on #82
Sir,
So I need to pull the commits in order to update to the newest version.

On Tue 26 Feb, 2019, 6:38 AM Mario Behling, <notifications@github.com>
wrote:

[2019-02-26 07:50] kushthedude commented on #82
@mariobehling Sir,
I have tried to solve the issue
Please review my PR
https://github.com/fossasia/2019.fossasia.org/pull/87

[2019-02-27 05:57] mariobehling opened #90 "Update schedule roster"
Please see the "RoomVisual.html" and the image below and update the table accordingly:
* Add room 9-1
* Move science track
* Update Cloud track / sessions

![screenshot from 2019-02-27 13-55-51](https://user-images.githubusercontent.com/1583873/53469081-92dde880-3a97-11e9-9af3-4fa5c669e9e6.png)

[2019-02-27 12:17] PraveenKumarRana commented on #47
I want to resolve this issue. I am new to fossasia , so can you please guide me.
Thank you.

[2019-02-27 12:20] PraveenKumarRana commented on #47
![screenshot 2019-02-27 at 5 49 16 pm](https://user-images.githubusercontent.com/31088364/53489802-14de0980-3ab8-11e9-96a6-780e48720f1a.png)
This one is fine in chrome.

[2019-02-28 02:23] #90 closed

[2019-02-28 07:02] kushthedude opened #92 "Unresponsive navigation bar of exhibition page"
**Actual Behaviour**
The Navigation Bar currently is not responsive of the exhibition page

**Expected Behaviour**
Navigation Bar should be responsive.

**Steps to reproduce it**
a) Go to 'https://2019.fossasia.org/exhibition/index.html'
b) Resize the browser screen.
c) See the issue, Fossasia logo merges with 'Home' and 'Tickets' link.

**Screenshots of the issue**
<img width="918" alt="screensho

[2019-02-28 07:02] kushthedude commented on #92
@mariobehling ,
Sir can you please tell me if this issue is valid ?

[2019-02-28 08:51] kushthedude opened #93 "Book Booth button redirects to wrong page"
**Actual Behaviour**

Book booth button in exhibition page redirects to wrong page.

**Expected Behaviour**

Book booth button should redirect to the correct path.

**Steps to reproduce it**

a) Go to 'https://2019.fossasia.org/exhibition/index.html'
b) Under the navigation bar,Open the drop down of 'Exhibition'
c) Click on 'Book Booth',See the issue.

**Screenshots of the issue**

<img width="108

[2019-02-28 08:52] kushthedude commented on #93
@mariobehling
Sir,If this issue is legitimate I would like to solve it as soon as possible.

[2019-02-28 09:14] kushthedude opened #94 "Wrong page title of Exhibition Page"
**Actual Behaviour**
Page title of Exhibition Page is not appropriate.(See the Year)

**Expected Behaviour**
Page title of Exhibition Page should be correct.

**Steps to reproduce it**
a) Go to 'https://2019.fossasia.org/exhibition/index.html'
b) Check the page title and see the issue.

**Screenshots of the issue**
<img width="1067" alt="screenshot 2019-02-28 at 2 39 57 pm" src="https://user-image

[2019-02-28 09:14] kushthedude commented on #94
@mariobehling ,
Can i work on this small bug?

[2019-02-28 12:38] mariobehling commented on #92
A simple test will give you the necessary information.

[2019-02-28 13:52] kushthedude commented on #92
@mariobehling ,
Sir,So can i go on solving the recent issues as all of them are small bugs ?

[2019-02-28 15:50] mariobehling commented on #94
There is no bug here. It is perfectly fine the way it is.

[2019-02-28 15:50] #94 closed

[2019-02-28 15:50] #93 closed

[2019-03-01 03:35] mariobehling opened #98 "Update Schedule Roster"
There are a number of workshops added for the evening. Please use the "RoomVisual.html" to update the schedule roster.

![screenshot from 2019-03-01 11-32-07](https://user-images.githubusercontent.com/1583873/53614783-0c9be080-3c16-11e9-9ae7-de2e74490c26.png)

[2019-03-02 17:18] kushthedude commented on #98
Working on this!

[2019-03-02 17:44] kushthedude commented on #98
@mariobehling ,
Sir,The update has been made as per your request.

[2019-03-03 10:24] #98 closed

[2019-03-06 09:51] cweitat opened #102 "Displaced menu button"
**Actual Behaviour**
Menu icon is displaced to the right side

**Expected Behaviour**
Should see the menu icon

**Steps to reproduce it**
Go to https://2019.fossasia.org on mobile browser

**Screenshots of the issue**
![image](https://user-images.githubusercontent.com/11439477/53872055-50d51980-4038-11e9-87a3-2c15083832b0.png)

![image](https://user-images.githubusercontent.com/11439477/53872028-4

[2019-03-06 13:13] imrrahul commented on #102
@cweitat I would like to solve this issue

[2019-03-06 14:03] imrrahul commented on #85
@mariobehling This list of speakers are already added please clarify what is the issue so that we can proceed further, thanks!!

[2019-03-06 14:36] mariobehling opened #103 "Update Schedule Roster"
There are a number of workshops added for the evening. Please use the "RoomVisual.html" to update the schedule roster.

![screenshot from 2019-03-01 11-32-07](https://user-images.githubusercontent.com/1583873/53614783-0c9be080-3c16-11e9-9ae7-de2e74490c26.png)

[2019-03-06 14:51] kushthedude commented on #103
@mariobehling ,
Sure sir,Would be my pleasure :)

[2019-03-06 16:00] imrrahul commented on #102
@kushthedude the error is problem is appearing in my browser
![screenshot_20190306-203537](https://user-images.githubusercontent.com/37583853/53894962-03b47000-4057-11e9-9754-e003193980ad.png)

![screenshot_20190306-203544](https://user-images.githubusercontent.com/37583853/53894990-1038c880-4057-11e9-857f-753da01e26b7.png)

[2019-03-06 16:01] kushthedude commented on #102
@imrrahul Can you please tell me browser name and OS you are using?

[2019-03-06 16:04] imrrahul commented on #102
@kushthedude I am using chrome - v72.0.3626.105 and OS- Android v9

[2019-03-06 16:05] cweitat commented on #102
Chrome v71 android 8 lg v20

[2019-03-06 16:07] kushthedude commented on #102
Thank you Sir @cweitat.
@imrrahul You can continue solving the issue 👍 .

[2019-03-06 16:31] #103 closed

[2019-03-06 16:59] kushthedude commented on #102
@imrrahul , If you have not done a significant amount i would like to request you to pass this issue to me as i have already merged a similar sort of issue.

[2019-03-06 19:28] imrrahul commented on #102
Go ahead@kushthedude

[2019-03-06 22:32] kushthedude commented on #102
Working on this.

[2019-03-07 05:00] mariobehling opened #106 "Add featured speakers from eventyay to start page."
Eventyay has a featured speakers list. Please add the missing speakers to the start page: https://eventyay.com/e/3689bc98/

![screenshot from 2019-03-07 13-00-30](https://user-images.githubusercontent.com/1583873/53933371-05267c80-40d9-11e9-8227-7fa0b8cb11fa.png)

[2019-03-07 09:34] kushthedude commented on #106
@mariobehling
Sir,I would like to work on it

[2019-03-07 13:16] dcjc29 commented on #106
@mariobehling
Sir,can I work on this issue?I would like to resolve this issue.Thank you

[2019-03-07 13:18] kushthedude commented on #106
I am already on it.

[2019-03-07 13:28] #73 closed

[2019-03-07 13:57] #82 closed

[2019-03-07 13:57] #62 closed

[2019-03-07 13:59] mariobehling opened #107 "Update Schedule Roster"
Please ensure the line spacing in the schedule roster table is set to 1 and reduce their height of the table.

Thank you.

![screenshot from 2019-03-07 20-54-10](https://user-images.githubusercontent.com/1583873/53961738-44c68600-4124-11e9-83d1-519db48f1273.png)

[2019-03-07 14:20] kushthedude commented on #107
@mariobehling
Sir,Can i make it?

[2019-03-07 14:31] mariobehling commented on #107
Actually, after discussion. The only thing to do in this issue is to reduce the line spacing, please and reduce the height of the table therefore. Thank you.

[2019-03-07 14:51] kushthedude commented on #107
Not a issue Sir. :)

On Thu, 7 Mar 2019 at 8:01 PM, Mario Behling <notifications@github.com>
wrote:

[2019-03-08 00:36] Vineet-Sharma29 commented on #102
@kushthedude can you please pass the issue to me since I have zero PRs till now?

[2019-03-08 02:43] kushthedude commented on #102
@Vineet-Sharma29 Go on and include a Preview link in #109

[2019-03-08 05:40] kushthedude commented on #107
Will make a change as soon as #110 merges

[2019-03-08 08:11] Vineet-Sharma29 commented on #102
Thank you @kushthedude. I have included preview link

[2019-03-08 10:28] Vineet-Sharma29 opened #113 "No margin between two buttons"
**Actual Behaviour**
No space between two buttons and icons in the footer in mobile

**Expected Behaviour**
Their should be some margin between two buttons and icons in the footer

**Steps to reproduce it**
View 'Ultimate Cloud Training Session' section and social icons of the footer in the mobile browser

**Screenshots of the issue**
![spaceing-before](https://user-images.githubusercontent.com/35

[2019-03-08 13:07] ayushs136 opened #114 "404 not found"
GET https://2019.fossasia.org/resources/sheet.css net::ERR_ABORTED 404

[2019-03-08 16:10] kushthedude commented on #114
@ayushs136 How is this even an issue?

[2019-03-08 20:05] ayushs136 commented on #114
just testing my profile...
got some issues in it
created an issue just like that!

[2019-03-08 20:19] #114 closed

[2019-03-09 00:36] mohitm15 commented on #106
@mariobehling
Sir, ,I want to take this issue

[2019-03-09 14:19] #107 closed

[2019-03-09 15:39] mariobehling commented on #106
Thanks, this is done already in the first step.

[2019-03-09 15:39] #106 closed

[2019-03-09 15:43] mariobehling opened #117 "Improve Speaker Images"
Speaker images in the featured speakers section are not all in sufficient quality. Please improve the low quality images.

[2019-03-09 16:24] mohitm15 commented on #117
@mariobehling I would like to take this issue as I had added these images from eventyay prevoiusly :smirk:

[2019-03-09 16:55] mohitm15 commented on #117
But some speakers like Philip Paeps do not have any social account and also in case of Chris Travers , his github profile image quality is too worse.

[2019-03-09 17:47] mariobehling opened #118 "Fix mobile Display of start page"
The mobile page has issues. Please help to make the display on mobiles work.

[2019-03-09 18:29] Vineet-Sharma29 commented on #118
@mariobehling Sir, I have fixed the displaced menu issue in pr #109 .

[2019-03-09 18:40] mohitm15 commented on #117
Should I took images from google if not found on either github and linkedin

[2019-03-12 09:09] mariobehling opened #119 "Update schedule roster based on roomvisual.html"
Please update the schedule roster using the latest version of roomvisual.html.

[2019-03-12 10:16] Vineet-Sharma29 commented on #119
Sir, I want to work on this issue

[2019-03-12 15:38] kushthedude commented on #119
Solving this issue!

[2019-03-13 13:00] kushthedude commented on #119
@mariobehling Issue is solved.

[2019-03-15 20:17] mohitm15 commented on #85
I think already got merged.
Close this issue or still if have any  glitches please let me know the issue so I can take over it.
@mariobehling

[2019-03-23 06:32] punkstar25 commented on #113
@Vineet-Sharma29  I would like to work on this issue .
can u assign it to me??

[2019-03-23 11:02] Vineet-Sharma29 commented on #113
@punkstar25 go for it

[2019-03-23 11:05] punkstar25 commented on #113
is there any time limit for compete the task...
i am asking this bcz i am new to open source and this is my first project...

[2019-03-23 11:08] Vineet-Sharma29 commented on #113
@punkstar25 avoid adding extra css. The issue is simple it will not take time.

[2019-03-23 11:10] punkstar25 commented on #113
ok.. i will give my best.

[2019-03-23 12:27] punkstar25 commented on #113
sir, i think i find the bug ...
we have to add this think in theme-lava.css
a.btn {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 4px;
}
i am not sure but i think this would work

[2019-03-23 12:34] Vineet-Sharma29 commented on #113
@punkstar25 send PR when you are sure

[2019-03-24 10:38] #119 closed

[2019-03-26 12:39] punkstar25 commented on #113
@Vineet-Sharma29 , is my changes is correct...

[2019-04-08 10:45] garvitkhandelwal opened #123 "Warning messages in console"
**Actual Behaviour**

The console shows violation warnings. These are not errors and might not cause major issue but these can result in frame drops or prevent smooth flow of the website.

**Expected Behaviour**

These warnings should be removed in order to have smooth experience.

**Steps to reproduce it**

Open https://2019.fossasia.org/ in chrome and open console. If by any chance these message

[2019-04-08 10:57] #123 closed

[2019-09-18 11:06] ShubhamChaudharyy commented on #118
@mariobehling Sir, Have A look at pr #124 (now website doesn't overflow in x direction when seen in mobile devices)

[2019-10-05 16:34] ShubhamChaudharyy opened #125 "Reconstruct Schedule Roster so that there is no need to scroll horizontally to see the whole table timeline"
**Actual Behaviour**

![Screenshot (119)](https://user-images.githubusercontent.com/43263087/66257847-99fe6f00-e7bb-11e9-8303-562bcab9fa10.png)
![Screenshot (120)](https://user-images.githubusercontent.com/43263087/66257876-fd889c80-e7bb-11e9-9cb6-dc606560b042.png)

**Expected Behaviour**

should display all content in mobile width so that user should not scroll horizontally

**Steps to reproduce

[2019-10-05 19:04] elfreki opened #127 "Tweets on the front page overlaping"
**Actual Behaviour**

![Screenshot from 2019-10-06 00-32-03](https://user-images.githubusercontent.com/42248980/66259663-34b57880-e7d1-11e9-8dd4-bde74e52feb3.png)

**Expected Behaviour**

Should give a little bit more space for tweets .

**Would you like to work on the issue?**

Yes i would like to work on it

[2019-10-05 19:10] ankichd11 commented on #127
can i work on this?

[2019-10-09 21:09] AmanKumarBharti commented on #92
can work on this issue?

[2019-10-10 12:57] Safnaj opened #129 "Remove Google+ Icon on Footer"
**Actual Behaviour**

Google has removed Google + Services few months ago. So removing G+ Icon on Footer would be fine.

**Expected Behaviour**

Footer without Google + Icon

**Steps to reproduce it**

**Screenshots of the issue**

**Would you like to work on the issue?**

I Would like to work on this Issue

[2019-10-19 07:42] ArvindRP opened #131 "Zoom issue"
Zoom button is not working

[2019-10-31 11:38] snitin315 opened #134 "Title is too long in index.html"
**Actual Behaviour**
the title tag in index.html is too long and hence the whole title is not visible in browser tab.
![Screenshot from 2019-10-31 16-59-48](https://user-images.githubusercontent.com/46647141/67943669-88648780-fc00-11e9-89aa-1941b9ca5934.png)

**Expected Behaviour**
The Title tag should contain only FOSSASIA SUMMIT 2019  and the rest of the content is should be present in descripti

[2019-11-15 14:20] Sahastracookcoder1 commented on #129
I would like to work on this issue...

[2019-11-30 19:16] Palak3103 commented on #129
I would like to work on this issue

[2019-11-30 19:52] Palak3103 commented on #134
Yes I would like to work on this issue

[2019-11-30 21:36] ABHIJITBURMAN commented on #134
i am new in open source. may i work on this projects!!

[2019-12-01 09:02] snitin315 commented on #134
Not a Priority , Hence closing.

[2019-12-01 09:02] #134 closed

[2019-12-15 00:14] alizahir23 commented on #92
Hello sir, I would like to work on this issue. But before I begin, I would like to ask if I could fix it by implementing bootstrap 4 into the navbar and then collapse it when screen hits medium breakpoint?

[2019-12-27 21:05] Dishebh opened #139 "Remove google plus from footer"
**Actual Behaviour**

Google plus social icon is still there in footer
**Expected Behaviour**

Since google plus has now gone offline, it should be removed from the footer
**Steps to reproduce it**

1. Go to the website.
2. Scroll down to the footer, you will see the google plus icon

**Screenshots of the issue**
![Screenshot from 2019-12-28 02-33-49](https://user-images.githubusercontent.com/4348

[2019-12-27 21:33] Dishebh opened #141 "Overlapping of FOSSASIA logo and heading"
**Actual Behaviour**

The Fossasia logo and heading seam to overlapp ro some extent when seen in mobile or similar resoltuons.
**Expected Behaviour**
Logo and heading should be separated by a few pixels length.

**Steps to reproduce it**

1. Go to the website.
2. You can see the issue at the top of the page (check out the website in mobile or similar resolutions)
**Screenshots of the issue**

![Sc

[2019-12-31 11:37] Ishakikani9117 opened #144 "Speaker images issue"
**Actual Behaviour**
the images are not arranged appropriately and the image quality is also poor.

**Expected Behaviour**

There should be a little space between two images.

**Screenshots of the issue**

![2019-12-31](https://user-images.githubusercontent.com/54074188/71620401-d2adb900-2bef-11ea-9248-f4284fc85143.png)

**Would you like to work on the issue?**

Yes.

[2020-01-01 12:41] Dishebh opened #147 "Fix page responsiveness"
**Actual Behaviour**

When the 2020.fossasia.org site loads, there are a few bugs in the image-with-text testimonials preserve-3ds section of the page. The issue is seen while viewing the page in iPad and iPad Pro resolutions : 1024x1366. The heading `Ultimate Cloud Training` gets cut.

**Expected Behaviour**

The heading (mentioned above) should not get in any resolutions.

**Steps to reproduce i

[2020-01-02 07:55] varun14gb commented on #144
I would like to work on the issue.

[2020-01-05 16:05] makoteq opened #151 "Outdated google plus link"
At bottom of the page there is Outdated social link to google plus
**Would you like to work on the issue?**

**Yes**

[2020-01-06 17:51] #151 closed

[2020-03-02 15:20] aryasoni98 commented on #144
I would like to work on the issue.

[2020-03-02 15:25] aryasoni98 commented on #139
I would like to work on the issue.

[2020-03-02 15:30] Dishebh commented on #139
@aryasoni98 there's already a pr open for it. Until that is resolved, kindly look for another issue. Thanks

[2020-04-28 20:55] arjunbansal090 commented on #129
I would to like to work on this issue

[2020-05-07 03:24] DecoderRony commented on #48
Is this issue solved or can I work on it?

[2020-05-08 23:48] aayushpatniya commented on #48
I would like to work on this issue, if it's isn't resolved yet.

[2020-05-08 23:50] aayushpatniya commented on #125
I would like to work on this issue.

[2020-05-09 14:32] ShubhamChaudharyy commented on #125
Go ahead @aayushpatniya

[2020-05-09 22:42] aayushpatniya commented on #125
Hi Subham,
I wanted to discuss a solution to this issue.

On Sat, May 9, 2020 at 8:02 PM SubhamChoudhary <notifications@github.com>
wrote:

[2020-05-13 09:49] ShubhamChaudharyy commented on #125
you can pitch the solution in my mail..

[2020-05-15 18:13] sarthakhanda commented on #48
please allow me to work on this issue

[2020-05-17 14:03] Kushagraw12 commented on #129
Can I take up this issue please?

[2020-05-18 05:38] fluorspar20 opened #164 "Content getting blocked on mobile due to navbar"
**Actual Behaviour**
In the Exhibition->Schedule section, the navbar is blocking some of the content

**Expected Behaviour**

the content should be clear and visible

**Screenshots of the issue**
![Screenshot_2020-05-18 FOSSASIA Summit Exhibition](https://user-images.githubusercontent.com/59736770/82177667-da989c00-98f7-11ea-903d-e6b1d75fe40f.png)

**Would you like to work on the issue?**
Yes, I w

[2020-05-21 09:21] sarthakhanda commented on #48
On comparing, I don't see any difference in the positioning of fossasia logo (left side).

![exhibition](https://user-images.githubusercontent.com/65233229/82542541-cced4b80-9b6f-11ea-841f-e62bf15db73a.png)

but you can notice the addition of another button/link on the far right corner (the one with three parallel lines) of the start page which is the only observable difference (right side).

![ma

[2020-05-22 04:31] Anamika810 commented on #139
I think I should be given a chance to try my hands on this.

[2020-05-22 05:14] Dishebh commented on #139
@Anamika810

[2020-05-24 05:55] prashantbarge22 commented on #164
@fluorspar20 I would like to work on this issue .

[2020-05-24 06:08] prashantbarge22 opened #165 "Two lines are overlapping eachother , and these lines are the main highlight of the submit ."
![Screenshot_2020-05-24-11-27-56-997_com android chrome](https://user-images.githubusercontent.com/64685425/82746880-1d53eb80-9db2-11ea-87e0-6f32e9c265d5.jpg)
**Actual Behaviour**

**Expected Behaviour**

**Steps to reproduce it**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2020-05-24 06:11] prashantbarge22 commented on #165
There is no space between the two lines between open submit and Singapore these two words are overlapping eachother .

[2020-05-25 11:14] Akash-Gupta-Sudo commented on #118
Hello Sir, I have fixed this issue in Pull request #167 .

[2020-05-28 18:47] divided7 commented on #165
I can work on this issue

[2020-05-30 11:04] Dhruvibansal commented on #165
I want to work on this issue can I ?Is it still open.

[2020-05-30 11:38] prashantbarge22 commented on #165
@Dhruvibansal @divided7  I issue is closed.
Find some other issue . Thank you
Happy coding .

[2020-05-31 10:55] Harshad-droid commented on #164
Hi, I want to work on this issue. Can I take this up?

[2020-06-11 16:58] chetan-v opened #169 "Copyright 2020 not perfectly visible"
**Actual Behaviour**

 In Footer of navbar copyright 2020 not visible completely

**Expected Behaviour**

 Copyright 2020 should be visible completely

**Screenshots of the issue**
![Screenshot from 2020-06-11 22-14-51](https://user-images.githubusercontent.com/63091769/84416917-7df87a80-ac32-11ea-9496-b1c8191dc848.png)

**Would you like to work on the issue?**
  yes I want to work on it

[2020-06-11 19:30] shashankcoc opened #171 "Problem with buttons distance in small screen"
**Actual Behaviour**

Well the problem is size the both buttons are very close to each other
![Screen Shot 2020-06-12 at 00 39 38](https://user-images.githubusercontent.com/44526306/84430836-eb62d600-ac47-11ea-8253-9dfed5474dca.png)

**Expected Behaviour**

the distance should be increased

**Steps to reproduce it**

**Screenshots of the issue**

**Would you like to work on the issue?**

I can wor

[2020-06-17 06:40] himanshubohra13 commented on #171
hey can i work on this issue??

[2020-06-19 11:26] kunalvirdi commented on #169
I will work on this issue.

[2020-06-19 16:20] Dhruvibansal commented on #171
hey can i work on this issue ??

[2020-06-20 09:36] sarthakhanda commented on #171
please allow me to work on this issue.

[2020-06-20 18:57] himanshujaidka commented on #169
Is anyone is working? If yes then let me know please

[2020-06-22 08:06] Avinash9k5r commented on #169
I think the issue has been solved.

[2020-06-22 08:07] Avinash9k5r commented on #139
This issue has been fixed.

[2020-06-23 13:46] himanshujaidka commented on #171
is anyone is working or not?

[2020-06-23 13:47] himanshujaidka commented on #169
ok

[2020-06-23 13:49] himanshujaidka commented on #129
I am working in this issue.

[2020-06-23 13:58] himanshujaidka opened #172 "Twitter-icon placed on website which sounds bad"
**Actual Behaviour**

there is twitter-icon placed on the website which has no meaning
![Screenshot (698)](https://user-images.githubusercontent.com/58654018/85412850-aadc5400-b587-11ea-96ab-446f97ea50d0.png)

**Expected Behaviour**

**Steps to reproduce it**

**Screenshots of the issue**

**Would you like to work on the issue?**

[2020-06-23 13:59] himanshujaidka commented on #172
I am working on this issue :)

[2020-06-23 14:11] #169 closed

[2020-06-25 13:41] Ujjwal3009 commented on #48
please allow me to work on this issue

[2020-06-25 13:42] Ujjwal3009 commented on #125
I would like to work on this issue

[2020-06-26 18:54] ShubhamChaudharyy commented on #125
okay go ahead

[2020-06-29 14:04] akash-arelli commented on #172
I would like to work on this issue.

[2020-06-29 14:26] himanshujaidka commented on #172
I have already solved this issue

[2020-06-30 03:53] akash-arelli commented on #48
I would like to work on this issue.

[2020-06-30 07:54] HarshAgarwal-DEV commented on #171
ya I can surely do that give me a chance to do this

[2020-06-30 14:48] shashankcoc commented on #171
I already created PR #173

[2020-07-05 06:37] Raunaksingh100 opened #175 "Nav bar missing in mobile view"
**Actual Behaviour**

nav bar missing in the mobile view nav bar is not responsive...

**Expected Behaviour**

simple make the nav bar responsive to Improve the  project

**Steps to reproduce it**

**Screenshots of the issue**

![navbar missing in foss 2019](https://user-images.githubusercontent.com/65535360/86526931-98331a80-beb7-11ea-903f-5bd4dac44d0c.PNG)

**Would you like to work on the issue?

[2020-07-05 11:50] Raunaksingh100 opened #176 "Signupfree Button ovarlapping with workshop Button"
Signupfree Button ovarlapping with workshop Schedule Button .

just add the margin bottom to give gap betwwen them.

**Screenshots of the issue**

![signup and workshop overlapping 2019(foss)](https://user-images.githubusercontent.com/65535360/86531973-b57dde00-bee3-11ea-915a-b1fab3713b6f.PNG)

**Would you like to work on the issue?**

yes.

[2020-07-05 12:44] akash-arelli commented on #47
I have solved this issue.
updated theme.css #178

[2020-07-11 05:06] anilmaurya61 commented on #175
hey, can i work in this issue.

[2020-07-11 06:37] Raunaksingh100 commented on #175
Go ahead...

[2020-07-24 09:17] Raunaksingh100 opened #179 "social icons is overlapping (BUG)"
**Actual Behaviour**

Social icons is overlapping.....

**Steps to reproduce it**
This issue only need margin -top to fixed this issue........

**Screenshots of the issue**

![overlwp scoial icons 2019 foss (desktop](https://user-images.githubusercontent.com/65535360/88377249-7513d080-cdbc-11ea-9974-77fe94da352f.PNG)

**Would you like to work on the issue?**
i already FIXED this issue and generate

[2020-07-25 18:33] syashasvi commented on #179
I can solve this. I want to claim this repo.

[2020-08-19 06:08] akashkam559 commented on #48
Please give me chance to work on this. Would fix the bug

[2020-08-19 13:50] Ujjwal3009 commented on #48
Please give me  oppurtunity to solve this bug

[2020-09-13 11:25] charul485 commented on #48
Please allow me to solve this bug

[2020-09-17 03:11] Srijan205 commented on #179
I want to work on this issue

[2020-09-17 04:22] Raunaksingh100 commented on #179
No I already make a pr for this find some other issues

[2020-10-06 03:55] ap211unitech commented on #176
is this issue still open ?? I would like to work on this.

[2020-10-29 19:33] smileynanda99 commented on #48
I can fix this, give me chance to make u happy

[2020-10-29 19:36] smileynanda99 commented on #176
can you give me chance, I can fix it.

[2020-10-29 19:37] smileynanda99 commented on #175
if the problem is still, I can fix it.

[2020-10-29 19:40] Raunaksingh100 commented on #176
@smileynanda99 this bug is already fixed by me I created or for this plz find some other issues thanks

[2020-10-29 19:44] smileynanda99 commented on #165
this issue still open can i work on it

[2020-11-01 11:16] #165 closed

[2020-12-01 09:25] Guneetsinghtuli commented on #175
Can I work on this issue if it isn't fixed by now ?

[2020-12-05 07:09] Vineet955 commented on #164
@fluorspar20  Hi, can i work on this issue please.

[2020-12-05 08:07] Vineet955 commented on #54
Hello @kuaLeYi , Can I Work on this issue, please if it's still open

[2020-12-10 12:14] 8-bit-souvik commented on #179
done in PR #182

[2020-12-30 16:27] kapoorarpit commented on #175
@Raunaksingh100 please assign this issue to me. I can surely resolve this.

[2020-12-31 09:04] kapoorarpit commented on #179
@Raunaksingh100  then close this issue.

[2020-12-31 09:05] Raunaksingh100 commented on #179
The issue is still open when the pr not gets merged

Plz first learn how GitHub works Thanks.

[2020-12-31 09:16] Raunaksingh100 commented on #175
Plz focus on fossaisa project this is just simple website is totally inactive always

[2021-02-01 14:25] ritesh1731 commented on #141
Can I do this?

[2021-03-02 17:12] SuryanshShahi commented on #129
Hi, i would like to work on this issue.

[2021-03-02 17:18] SuryanshShahi commented on #129
@Safnaj the changes have been made, please review & merge #183

[2021-03-04 10:58] vijay938 commented on #179
I want to work on this issue

[2021-03-04 11:01] vijay938 commented on #175
I want to work on this issue

[2021-03-04 11:05] vijay938 commented on #144
I want to work on this issue

[2021-03-04 11:17] vijay938 commented on #118
Hello Sir
I want to work on this issue

[2021-03-04 11:18] vijay938 commented on #118
[#175 ](url)

[2021-10-02 15:40] Parna2000 commented on #175
@Raunaksingh100 how can i work on this issue

[2022-10-29 08:28] sakshi-pandita-01 commented on #175
can i work on it?

[2022-10-31 05:00] Raunaksingh100 commented on #175
This is inactive website focus on projects

On Sat, 29 Oct 2022 at 1:58 PM, Sakshi Pandita ***@***.***>
wrote:

[2022-10-31 07:03] sakshi-pandita-01 commented on #175
can you share the link to that project? I could not find it